body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 20px 0;
}

form {
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label, select, input[type="text"], input[type="submit"] {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    background-color: #b2a8e1;
}

input[type="submit"] {
    background-color: #b2a8e1;
    color: #000000;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b2a8e1;
}

#shape {
    width: 100%;
}

.input-fields {
    display: none;
}

#circleFields, #squareFields, #rectangleFields, #triangleFields {
    display: none;
}

#shape:focus ~ .input-fields {
    display: block;
}

#shape option {
    background-color: #a8e1d2;
}
